body{
    background: black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
	vertical-align: middle;
    background-color:black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	color:white;
}

#form-container {
    margin: 10%;
	padding:0%;
    background-color:white;
    text-align: center;
}


.signup-btn, .login-btn {
    margin:4px;
}

.form-control>btn {
    margin:10px;
    
}
.form-control{
    margin-top: 5px;
}

.btn{
	background-color:blue;
}
